{% load bootstrap4 %}

{% block content %}
    <div style="text-align:center; max-width:500px; margin:4rem auto">
        <h4 class="mb-5">
            Comment create
        </h4>
        <form action="{% url 'commentapp:create' %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% if user.is_authenticated %}
            <input type="submit" value="POST" class="btn btn-dark rounded-pill col-6 mt-3" />
            <input type="hidden" name="article_pk" value="{{article.pk}}">
            {% else %}
            <a href="{% url 'accounts:login' %}?next={{ request.path }}"
               class="btn btn-dark rounded-pill col-6 mt-3">
                댓글 작성을 하려면 Login 해주세요
            </a>
            {% endif %}
        </form>
    </div>
{% endblock %}
