{% extends 'base.html' %}

{% block content %}
<div>
    <div style="text-align:center; max-width:500px; margin:4rem auto">

        {% if target_user.profile %}
        <img src="{{ target_user.profile.image.url }}" alt=""
             style="height: 20rem; width:20rem; border-radius: 10rem; margin-bottom: 2rem;"
        >
        {% endif %}

        <div>
            {% if target_user.profile %}
            <h2 style="font-family: 'NanumSquareB'">
                {{target_user.profile.nickname}}
                {% if target_user == user %}
                <a class="material-icons"
                   style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;"
                   href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                    edit
                </a>
                {% endif %}
            </h2>
            {% else %}
            <h5 class="mb-5">닉네임을 생성하여 주세요.</h5>
            <a href="{% url 'profileapp:create' %}" class="btn btn-dark rounded-pill">
                Create page
            </a>
            {% endif %}

            <h5 style="margin-bottom: 3rem;">
                {{target_user.profile.message}}
            </h5>


            {% if target_user == user %}
            <div class="mb-5">
                <a class="material-icons"
                   style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;"
                   href="{% url 'accounts:update' pk=user.pk %}">
                    published_with_changes
                </a>
                <a class="material-icons"
                   style="box-shadow: 0 0 4px #fcc; border-radius: 10rem; padding: .4rem;"
                   href="{% url 'accounts:delete' pk=user.pk %}">
                    delete
                </a>
            </div>
            {% endif %}
        </div>
    </div>

    <div>
        {% include 'snippets/list_fragment.html' with article_list=object_list %}
    </div>

</div>

{% endblock %}