.pinterest_footer_button {
    font-size: .6rem;
}

.pinterest_footer_logo {
    margin-top: 1rem; font-family: 'Zen Loop', cursive;
}

.pinterest_header {
    text-align:center;
    margin: 2rem 0;
}

.pinterest_logo {
    font-family: 'Zen Loop', cursive;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}

a {
    color: black;
}

a:hover {
    color: black;
}

.pinterest_header_navbar {
    margin: 1rem 0;
}

.pinterest_header_nav {
    margin: 0 0.5rem;
}


